<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljh.ems.dao.EmpDao">

<!--    查找所有员工-->
    <select id="findAll" resultType="Emp" >
        select * from t_emp;
    </select>

<!--   添加员工-->
    <insert id="add" parameterType="Emp" >
        insert into t_emp values (#{id},#{name},${salary},${age});
    </insert>

<!--    删除员工-->
    <delete id="delete" parameterType="String">
        delete from t_emp where id = #{id};
    </delete>

<!--    查询一个员工信息-->
<!--    这边的id要和dao的函数名一样-->
    <select id="findOneById" parameterType="String" resultType="Emp">
        select * from t_emp where id = #{id};
    </select>

<!--    更新员工信息-->
    <update id="update" parameterType="Emp">
        update t_emp set name=#{name},salary=#{salary},age=#{age} where id = #{id};
    </update>

</mapper>